<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--logback提供的基本配置-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%-5level] %d{HH:mm:ss} %logger{36} %line: %msg %n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--记录到文件（每天一个）-->
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/spring-boot-blog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/spring-boot-blog.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} : %n %msg %n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--将上面两个 appender 关联到项目-->
    <logger name="com.shieory.blog" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </logger>

    <!--其他框架的日志输出-->
    <property name="LOG_FILE" value="log/spring-boot-blog-tmp.log"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.boot.web.filter" level="INFO"/>
</configuration>

